:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: inherit;
    margin: inherit;
}

ul > li {
    list-style-type: none;
    cursor: pointer;
}

li:hover {
    background-color: whitesmoke;
}

li:hover > ul {
    display: block;
}

.container {
    background-color: silver;
    border: 1px solid black;
    margin: 0 auto;
    width: 25vw;
}

li ul {
    display: none;
}